* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  animation: fun 0.15s;
  padding: 0.75rem 1.5rem;
  background-color: #e65a99;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

button:hover:not(:disabled) {
  background-color: #ff63a9; /* 100% */
  box-shadow: 0vh 0.5vh #e65a99; /* 90% */
  transform: translateY(-0.5vh);
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: default;
  box-shadow: none;
  transform: none;
  animation: none;
}

@keyframes fun {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
