.mainContainer {
  height: 100vh;
  width: 100vw;
  background-color: gray;
  background-image: url("../asset/globe.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
